/* -------------------------------------
 *   Reset CSS
 * ---------------------------------- */

 html {
  box-sizing: border-box;
  background: #2b2b2b fixed; /* static color for over-scroll area */
  color: #fff;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2b2b2b;
  color: white;
}

button:disabled {
  opacity: 0.5;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

input:focus,
button:focus,
button:active,
a:focus,
select:focus,
textarea:focus {
  outline: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

input {
  position: relative;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* React virtualized */

.ReactVirtualized__Grid:focus {
  outline: 0;
}
